@charset "utf-8";
.acticle{
    width: 100%;
    border-top:1px solid #e31939;
}
.acticle_top{
    height: 40px;
    }
.acticle_top ul li a{
    font-size: 12px;
    display: inline-block;
}
.acticle_top ul li{
   float:left;
   padding-left:10px;
   padding-right: 10px;
   margin-top: 10px;
}
.acticle_top ul li span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/jlt.png) left center no-repeat;
    background-position: -20px -55px;
}
.acticle_top ul li:nth-child(2) a{
    border:1px solid #eee;
    padding-left: 10px;
//  padding-right: 10px;
    position: relative;
    span{
        background-position: 3px -54px;
    }
}
.acticle_top ul li:nth-child(2) a:hover{
    border: 1px solid red;
    border-bottom: none;
}
.acticle_top ul li:nth-child(2):hover a span{
    background-position: 2px 6px;
    transform: rotate(360deg);
    transition: .2s ease-in-out;
}
.IP {
  width: 304px;
  height: 75px;
  border: 1px solid red;
  position: absolute;
  display: none; }

.acticle_top ul li .IP a {
  padding-top: 4px;
  border: none;
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.acticle_top ul li:nth-child(2):hover .IP{
    display: block;
    background: white;
    a:hover{
        border:0;
    }
}
//放大镜
.acticleAll{
    overflow: hidden;
}
.acticleAll_left{
    float: left;
}
.bigBox{
    width:422px;
    height:422px;
//  position: relative;
    background-image: url(../img/shopping3.jpg);
    background-size: 422px 422px;
    border: 1px solid #eee;
}
//.mirrorBox{
//  width:100px;
//  height:100px;
//  position: absolute;
//  left:0px;
//  top:0px;
//  background-color: red;
//  opacity: 0.5;
//  display: none;
//}
//.showBox{
//  width: 300px;
//  height: 200px;
//  position: absolute;
//  left:430px;
//  top:0;
//  background-image: url(../img/shopping3.jpg);
//  background-size: 422px 422px;
//  background-position: -100px -100px;
//  display: none;
//}
.acticleAll_left ul{
    position: relative;
    padding:10px 10px 0 20px;
    span{
        background-image:url(../img/jlt.png) no-repeat left center;
        width: 15px;
        height: 25px;
        display:block;
        }
    span:nth-child(1){
        background-position: -197px 0px;
        position: absolute;
        top:35px;
        left:0px;
    }
    span:nth-child(2){
        background-position: -214px 0px;
        position: absolute;
        top:35px;
        right:0px;
    }
}
.acticleAll_left ul span:nth-child(1):hover{
    background-position: -229px 0px;
}

.acticleAll_left ul span:nth-child(2):hover{
    background-position: -245px 0px;
}
.acticleAll_left ul li{
    width: 65px;
    height: 65px;
    float: left;
    margin-left: 8px;
    background-size:cover;
}
.acticleAll_left ul li:nth-of-type(1){
    background-image: url(../img/shopping1.jpg);
}
.acticleAll_left ul li:nth-of-type(2){
    background-image: url(../img/shopping2.jpg);
}
.acticleAll_left ul li:nth-of-type(3){
    background-image: url(../img/shopping3.jpg);
}
.acticleAll_left ul li:nth-of-type(4){
    background-image: url(../img/shopping4.jpg);
}
.acticleAll_left ul li:nth-of-type(5){
    background-image: url(../img/shopping5.jpg);
}
